@import "tailwindcss";

:root {
  /* backgrounds */
  --color-background: #ededed;
  --color-surface: #dddddd;
  --color-border: #cdcdcd;

  /* text */
  --color-foreground: #0f0f0f;
  --color-foreground-muted: #4f4f4f;

  /* links */
  --color-primary: #6366f1;
  --color-primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);

  --color-foreground: var(--color-foreground);
  --color-foreground-muted: var(--color-foreground-muted);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
}

/* TODO later: add dark theme coloring */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: sans-serif;
}
